.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-color: #444654;
  color: #ececf1;
}

button {
  font-size: large;
  border-color: transparent;
  vertical-align: middle;
  color: #ececf1;
}

.top-bar{
  background-color: #343541;
  margin-top: -25px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.custom-form {
  display:flex;
  justify-content: center;
}

.custom-form input[type="text"] {
  flex: 1;
  height: 26px;
  width: 350px;
}

input {
  background-color: #40414F;
  border-color: transparent;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ececf1;
}

input:focus {
  outline: none;
}

.title-input {
  font-size: 32px;
}

.content-div {
  border: 2px solid #000;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.btn-add-task {
  min-width: 50px; 
  background-color: #19C37D;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btn-todos {
  text-align: left;
  padding-top: 5%;
  background-color: transparent;
  width: 100%;
  border-radius: 7px;
}

.btn-todos:hover {
  background-color: #343641; 
  color: #fff;
}

.btn-delete-todo, .btn-remove-task {
  background-color: #F22C3D;
  border-radius: 7px;
}

.btn-delete-todo:hover, .btn-remove-task:hover {
  background-color: #B91C1C;
  color: #fff;
}

.btn-create-todo{
  background-color: #19C37D;
  border-radius: 7px;
}

.btn-create-todo:hover,.btn-add-task:hover {
  background-color: #0e8668;
  color: #fff;
}

.btn-bar {
  background-color: transparent;
}

.btn-bar-div {
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn-bar-div-close {
  position: absolute;
  top: 10px;
  right: 0px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #202123;
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
}

.btn-task-save {
  background-color: transparent;
}

.btn-task-cancel {
  background-color: transparent;
}

.btn-title-save {
  background-color: transparent;
}

.btn-title-cancel {
  background-color: transparent;
}

.btn-check {
  background-color: transparent;
}
